/*Global Classes*/
.red-yellow-black {
    --bg-color: #f65058ff;
    --base-color: #28334aff;
    --text-color: #fbde44ff;
}
.black-blue-orange {
    --bg-color: #2a2b2dff;
    --base-color: #2da8d8ff;
    --text-color: #b25c09;
}
.green-red-gray {
    --bg-color: #184a45ff;
    --base-color: #fc766aff;
    --text-color: #b0b8b4ff;
}
.disable {
    display: none;
}
.on-transfer {
    opacity: .4;
}
.btn {
    cursor: pointer;
    border: 0;
    padding: 10px;
    font-size: 3vmin;
    border-radius: var(--border-radius);
    font-family: 'TradeWinds';
}
.not-clickable {
    pointer-events: none;
}
.stop-animatin {
    transition: none;
}